---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Vincent Vu",
  description: "About",
};
---

<Layout {seo}>
  <Container>
    <p>Now:</p>
    <ul>
      <li>
        Engineering @ <a href="https://flowgpt.com" target="_blank">FlowGPT</a>:
        character AI + prompt engineering platform. Pre-series A startup backed
        by DCM + Goodwater -- raised $10m; early engineering hire on the team.
      </li>
    </ul>

    <p>Previously:</p>
    <ul>
      <li>
        Software engineering @ <a href="https://coursera.org" target="_blank"
          >Coursera</a
        >: Worked on foundational services powering the largest MOOC platform in
        the world
      </li>
      <li>
        Lead of engineering @ <a href="https://hacksc.com" target="_blank"
          >HackSC</a
        >: ~IT support~ for the flagship hackathon @ USC w/ 1,000 participants /
        yr; led a technical team and built <a
          href="https://github.com/hacksc/hibiscus"
          >an open-source plug-and-play hackathon portal and full-stack platform</a
        >
      </li>
    </ul>
    <hr />

    <p>Alma mater: Computer Science @ USC</p>

    <hr />

    <p>Cool stuff I hacked together:</p>
    <ul>
      <li>
        <a href="https://github.com/thekernelspace/tw">tw</a>: a fast terminal
        file & directory navigator
      </li>
      <li>
        <a href="https://github.com/trysupernova/supernova">Supernova</a>: a
        fast and beautiful open-source todo list
      </li>
      <li>
        <a href="https://github.com/snokpok/2048-cli">2048-cli</a>:
        ASCII-powered 2048 on the CLI, made on an airplane trip because bored
      </li>
      <li>
        <a href="https://github.com/snokpok/typeapp">type.vuvincent.com</a>: I
        had 2hrs to spare so I made a typeracing game
      </li>
      <li>
        <a href="">sharded-kv</a>: I built a sharded KV store that's
        partition-tolerant with consistency as part of my distsys class. Learned
        a ton about how hard it is and the pain with that uses Paxos
      </li>
    </ul>

    <hr />
    <p>In my free time I enjoy:</p>
    <ul>
      <li>Podcasts (favs: Lenny's, Startup Therapy)</li>
      <li>Games (favs: Valorant, Lethal Company)</li>
    </ul>

    <hr />

    <p>
      Here's a typeracer scorecard because why not, as I love typing to warm up
      my fingers everyday:
    </p>
    <img src="https://data.typeracer.com/misc/badge?user=snokpok" />
  </Container>
</Layout>

<style>
  .mepic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px gray;
  }
</style>
