---
---

<div class="container">
  <slot />
</div>

<style>
  :root {
    --container-width: 600px;
    --container-padding: 1rem;
  }

  .container {
    margin: 0 auto;
    max-width: var(--container-width, 960px);
    padding: 0 var(--container-padding, 1rem);
  }
</style>
