---
---

<div class="container">
  <slot />
</div>

<style>
  :root {
    --container-width: 600px;
  }

  .container {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 1.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
</style>
